############
# robodoc.rc for ragingmidi
#######
accept files:
    *.cpp *.h
options:
    --src ./src
    --doc ./docs
    --documenttitle "Raging MIDI - Source Documentation"
    --multidoc
    --index
    --html
    --cmode
    --nopre
    --nosort
    --sections
remark begin markers:
    /**
remark end markers:
    */
source items:
    EXAMPLE
    SYNOPSIS
    SOURCE
